<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>KAROLYN DOMINGUEZ</h1>
		<p>hola amigooooos!!!</p>
	</div>
	<div class="menu" >
		<a href="">Menu 1</a>
        <a href="">Menu 2</a>
        <a href="">Menu 3</a>
		<a href="">Menu 4</a>
	</div>

	<div class="contenido">
    <div class="izquierda"> 
     <div class="item">
     	<h2> MIS COSAS FAVORITAS:</h2>
     	<h5>  </h5>
     	<img src="not.jpg" alt="" class="imagen">
     	<img src="caba.jpg"alt" class="imagen">
        
     </div>
   </div>
 </div>

 <div class="derecha">
 	<div class="item">
 	 <h2> INFORMACION</h2>
 	 <h3> En esta pagina comparto un poco de mi persona y mis gustos.</h3>
 	  <img src="music.jpg" alt="" width="100px">

 	</div>
 	
 	<div class="footer">
 		<h2>&copy; 2019</h2>
 	</div>
 </div>
</body>
</html>